{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <title>Deploy Dashboard</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'deploys/style.css' %}" />
</head>
<body>
  <div class="flexrow fg-white bg-blue">
    <nav class="TabNav TabNav--header">
      <a href="{% url 'home' %}" class="TabNav-item">Release Dashboard</a>
      <a href="{% url 'all-releases' %}" class="TabNav-item">Releases</a>
      <a href="{% url 'admin:index' %}" class="TabNav-item">Admin</a>
    </nav>
  </div>

  <div class="container pad-xs-spacious">
    {% block content %}(no content){% endblock %}
  </div>
</body>
</html>