{% extends 'deploys/base.html' %}
{% load template_helpers %}

{% block content %}

  <h2>Next Release:</h3>
  <h2>Version: {{release.version}}</h2>
  <h2>Wrangler: {{release.release_manager}}</h2>
  <h2>Code freeze date: {{release.code_freeze_date}}</h2>
  <h2>Production release date: {{release.production_release_date}}</h2>
  <h2>Has master been merged to acceptance? {{master_in_acceptance_for_release}}</h3>
  <h2>Is production deployed? {{soak_in_production_for_release}}</h3>

  <br><br>
  <h2>History:</h2>
  <h3>Latest PRs from master to acceptance</h3>
      {% include "deploys/pr_table.html" with prs=master_to_acceptance %}
      <h3>Latest PRs from acceptance to soak</h3>
      {% include "deploys/pr_table.html" with prs=acceptance_to_soak %}
      <h3>Latest PRs from soak to production</h3>
      {% include "deploys/pr_table.html" with prs=soak_to_production %}
      <h3>Latest PRs from acceptance to master</h3>
      {% include "deploys/pr_table.html" with prs=acceptance_to_master %}

{% endblock %}