{% extends 'deploys/base.html' %}
{% load template_helpers %}
{% load markdown_filter %}

{% block content %}

  <h3>Next Release:</h3>
  <h2>Version: {{release.version}}</h2>
  <h2>Dev Release Wrangler: {{release.dev_release_manager}}</h2>
  <h2>PM Release Wrangler: {{release.pm_release_manager}}</h2>
  <h2>Code freeze date: {{release.code_freeze_date}}</h2>
  <h2>Production release date: {{release.production_release_date}}</h2>
  <h3>Has master been merged to acceptance? {{master_in_acceptance_for_release}}</h3>
  <h3>Is production deployed? {{soak_in_production_for_release}}</h3>
  <div class='well'>
    <h3>Additional Information:</h3>
    {{ release.extra_detail | markdownify | safe }}
  </div>
  <br><br>
  <h2>History:</h2>
  <h3>Latest PRs from master to acceptance</h3>
  {% include "deploys/pr_table.html" with prs=master_to_acceptance %}
  <h3>Latest PRs from acceptance to soak</h3>
  {% include "deploys/pr_table.html" with prs=acceptance_to_soak %}
  <h3>Latest PRs from soak to production</h3>
  {% include "deploys/pr_table.html" with prs=soak_to_production %}
  <h3>Latest PRs from acceptance to master</h3>
  {% include "deploys/pr_table.html" with prs=acceptance_to_master %}


{% endblock %}
